

<div class="form-group">
    <div class="col-sm-2 col-sm-offset-1">
        <label for="City">City</label>
    </div>
    <div class="col-sm-6">
        <input type="text" ng-model="teacher.City" class="form-control" name="City" required />
        <div class="help-block" ng-messages="teacherform.City.$error">
            <div ng-message="required">City is Required</div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-2 col-sm-offset-1">
        <label for="State">State</label>
    </div>
    <div class="col-sm-6">
        <input type="text" ng-model="teacher.State" class="form-control" name="State" required />
        <div class="help-block" ng-messages="teacherform.State.$error">
            <div ng-message="required">State is Required</div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-2 col-sm-offset-1">
        <label for="StreetAddress">Street Address</label>
    </div>
    <div class="col-sm-6">
        <textarea class="form-control" ng-model="teacher.StreetAddress" name="StreetAddress"></textarea>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-2 col-sm-offset-1">
        <label for="Country">Country</label>
    </div>
    <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="teacher.Country" name="Country" required />
        <div class="help-block" ng-messages="teacherform.Country.$error">
            <div ng-message="required">Country is Required</div>
        </div>
    </div>

</div>
<div class="form-group">
    <div class="col-sm-2 col-sm-offset-1">
        <label for="ZipCode">Zip Code</label>
    </div>
    <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="teacher.ZipCode" name="ZipCode" required />
        <div class="help-block" ng-messages="teacherform.ZipCode.$error">
            <div ng-message="required">ZipCode is Required</div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-6 col-xs-6 text-right">
        <input type="button" class="btn btn-primary" ng-click="basic()" value="Back" />
    </div>
    <div class="col-sm-6 col-xs-6">
        <input type="button" class="btn btn-primary" value="Create Teacher" ng-click="addTeacher()" />
    </div>
</div>
