<section class="content-header">
    <h1>Academic Years</h1>
    <a ui-sref="createyear" class="btn btn-primary" >Create New</a>
</section>

<!-- Main content -->
<section class="content">
    <p>{{message}}</p>
    <table class="table table-bordered table-hover" functionname='yeartable' data="acedmicYears" datatable>
        <thead>
            <tr>
                <th>Strat Year</th>
                <th>End Year</th>
                <th>Label</th>
                <th>IS Active</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</section>