<section class="content-header">
    <h1>Teachers</h1>
    <a ui-sref="createteacher" class="btn btn-primary">Create Teacher</a>
</section>
<section class="content">
    <table class="table table-bordered table-hover" functionname='teachertable' data="teachers" datatable>
        <thead>
            <tr>
                <th class="no-sort"></th>
                <th>Name</th>
                <th>DOB</th>
                <th>Address</th>
                <th>Contact</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</section>
   
<style type="text/css">
    .no-sort::after {
        display: none !important;
    }

    .no-sort {
        pointer-events: none !important;
        cursor: default !important;
    }
</style>
